<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
  
  <%- include('../partials/header', {pagina: 'Sobre'}); %>

  <main>
    <div class="jumbotron">
      <h1>Sobre Mim</h1>
      <p>Olá, sou Jorge Mario, estudade de programação e um grande <strong>curioso</strong> em saber como as "coisas" funcionam!</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>


</body>

</html>